@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/* -------------  général ------------- */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    font-family: 'Lato', sans-serif;
    width: 90%;
}

#logo-img{
    width: 400px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.displaynone{
    display: none !important;
}


/* ------------- FIN général ------------- */

/* ------------- search section ------------- */

.searchbar-container{
    position: relative;
}

.search-section {
    height: 300px;
    z-index: 2;
    position: relative;
}

#searchbar {
    background-color: #ddd;
    width: 100%;
    padding: 33px;
    border-radius: 7px;
}

input::placeholder {
    color:rgb(211, 211, 211)
}

#searchbar::placeholder {
    color:grey
}

#search-icon {
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 40px;
}

.filtres-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 30px 0;
}

.filtre {
    margin-right: 10px;
    position: relative;
    padding: 15px 45px 15px 20px;
    border-radius: 7px;
    color:white;
    width:150px;
    height: 53px;
    transition: width .7s, height .7s;
    overflow: hidden;
}

.filtre-ingredient{
    background-color: #3282F7;
}
.filtre-appareil{
    background-color: #68D9A4;
}
.filtre-ustensile{
    background-color: #ED6454;
}

.chevron-icon-filter{
    position: absolute;
    top: 0;
    right: 0;
    width: inherit;
    height: inherit;
}

.filtre-open{
    width: max-content;
    max-height: 400px;
    height: max-content;
    transition: width .3s, height .3s;
}

#cover-ingredient,#cover-ustensile,#cover-appareil {
    width: inherit;
    height: inherit;
    background-color: inherit;
    border-radius: 7px;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ingredient {
    min-width: 180px;
}

.filtre-tag{
    margin-top: 10px;
    width: calc(100% - -32px);
    height: calc(100% - 18px);
    max-height: 347px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
}

.tag-styles{
    padding: 10px 0;
    min-width: 165px;
}

.fa-chevron-down:before {
    position: absolute;
    right: 10px;
    top: 19px;
}



/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .filtre-tag{
    scrollbar-width: auto;
    scrollbar-color: #1e69d9 #3282f7;
  }

  /* Chrome, Edge, and Safari */
  .filtre-tag::-webkit-scrollbar {
    width: 10px;
  }

  .filtre-tag::-webkit-scrollbar-track {
    background:#0000001f;
    border-radius: 10px;
  }

  .filtre-tag::-webkit-scrollbar-thumb {
    background-color: #00000045;
    border-radius: 10px;
    border: 0px none #ffffff;
  }

/* ------------- FIN search ------------- */

#displayRecipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% + 40px);
    margin-left: -20px;
}

button.card-accessibilty {
    width: calc(33.33% - 40px);
    height: 360px;
    margin: 20px;
}

.card-style {
    background-color: #ccc;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    border-radius: 6px;
}

.card-text-container {
    height: 50%;
    width: 100%;
    background-color: #eee;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.card-main-text,.card-sub-text {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

.card-ingredients-container {
    width: 49%;
}

.card-Ingredient-Grouped {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
}

.card-ingredient-name {
    font-weight: 700;
}

.card-descr {
    width: 44%;
    font-size: 13px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    height: 100%;
    margin-right: 15px;
}

.card-title {
    font-weight: 600;
    max-width: 75%;
    height: 30px;
}

.card-time{
    position: relative;
    font-weight: 600;
}
.card-time::before{
    font-family: 'font awesome 5 Free';
    content : '\f017';
    margin-right: 10px;
    font-weight: 500;
}
